.container{
    background: url("https://cdn.pixabay.com/photo/2019/10/01/13/58/coffee-4518354_960_720.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.read_more{
    border: 1px solid inherit;
    background: black;
}

.our_team{
    border: 5px solid black;
}